body{
background-image: url(bg.jpg); 
background-size: cover;}
.container{width: 1100px; height:800px;
margin: auto;}
nav{background-color:black;
width:840px; height: 30px;
border-radius: 10px;
margin:auto;
padding-top: 10px;
}
nav a{text-decoration: none; 
color:#ffffff;
padding-left:9%;
padding-top:10px;}
nav a:hover{color: blanchedalmond;}
.img1{width: 900px; height:400px; 
margin-top: 15px;}
section{ width:840px; height:250px; margin
:20px auto ; padding-top: 20px;

}
.text{text-align:justify; width: 300px;
color: blanchedalmond; margin-right:15px;
font-size: 16px; float:right;} 
.img2{float:right; margin-right:200px;
padding-top:20px; 
}
.section2{margin:0px 0px 0px 0px;}
.section2 p{color: antiquewhite; border:1px solid black;
padding:10px 5px 10px 5px;} 
#footer{width: 1100px; height: 50px; 
background-color:white; margin:auto; margin-top:100px;}
#footer p{text-align: center; padding-top: 15px;}